.section-title{
    .title{
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -0.02;
        text-transform: capitalize;
        text-align: center;
        @include respond(lg) {
            font-size: 45px;
            letter-spacing: 0;
            line-height: 52.5px;
        }
        @include respond(md) {
            font-size: 35px;
            line-height: 45px;
        }
        @include respond(xs) {
            font-size: 32px;
            letter-spacing: 0;
            line-height: 38.5px;
        }
    }
}