// variable
:root {
    --font-body: 'Outfit', sans-serif;
    --font-heading: 'Manrope', serif;

    --color-primary: #2DD98F;

    --color-heading: #fff;
    --xb-track-color: #16171B;
    --color-dark: #0F172A;
    --color-white: #fff;
    --color-black: #000;
    --color-default: #C1C7DE;
    --color-gray: #F8F8F8;
    --color-border: #EFF5F8;
    --color-blue: #4a21ef;

    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}