/* Reusable */
.blog-flex-column {
    flex-direction: column;
}

.blog-find-out-more {
    width: 205px;
    height: 50px;
    font-size: 14px;
    padding: 0;
}

.blog-find-out-more .btn_icon {
    margin-left: 15px;
}

.blog-form-button {
    width: 100%;
    height: 48px;
    padding: 0 20px;
}

.blog-form-button .btn_icon {
    margin-left: 15px;
}

.blog-list-inside {
    list-style-position: inside;
}

/* -------------------News Page-------------------*/
.blog-back-button {
    position: relative;
    left: -75px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog-back-button h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.6);
}

.blog-back-button span {
    font-family: "Manrope", sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
}

.blog-arrow-container {
    width: 38px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(67, 103, 0, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: rgba(255, 255, 255, 0.2) 1px solid;
    border-radius: 8px;
}

.blog-news-article-title {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: rgba(67, 103, 0, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: rgba(255, 255, 255, 0.2) 1px solid;
    border-radius: 8px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.blog-desktop-thumb {
    display: block !important;
}

.blog-desktop-thumb>img {
    width: 100%;
    height: 395px;
    object-fit: cover;
    object-position: center;
}

.blog-pagination-more {
    display: none;
}

.blog-desktop-thumb .mobile {
    display: none !important;
}

/* -------------------News Details Page-------------------*/
.blog-title-description {
    font-family: "Manrope", sans-serif;
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 38.4px;
    letter-spacing: 0;
    max-width: 780px;
    text-align: center;
}

.blog-details-desciption {
    background: transparent;
}

.blog-details-desciption .thumb {
    border-radius: 20px;
}

.blog-details-inner {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}

.blog-details-quote-container {
    position: relative;
    background: url("/assets/img/blog/quote-background.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
    padding: 40px 55px 40px 130px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.blog-details-quote-container h3 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 20px;
}

.blog-details-quote-container h4 {
    position: relative;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #C1C7DE;
    padding-left: 27px;
}

.blog-details-quote-container h4::before {
    content: '';
    background-color: #C1C7DE;
    width: 17px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 12px;
}

.blog-details-quote {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: #2DD98F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-details-sub-title {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 0;
    text-align: left;
}

.blog-details-tags-share {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    padding-right: 10px;
}

.blog-details-share-icon a {
    width: 40px !important;
    height: 40px !important;
    border: rgba(255, 255, 255, 0.1) 1px solid;
    background-color: #080b18 !important;
}

.blog-details-share-icon a:hover {
    background-color: rgb(45, 217, 143) !important;
}

.blog-details-comment-section {
    padding-bottom: 50px;
}

.blog-details-comment-title {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 31.2px;
    letter-spacing: 0;
}

.blog-details-comment.sub-comment {
    padding: 30px 50px;
}

.blog-details-comment {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 30px 0;
}

.blog-details-comment>img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.blog-details-comment-details {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.blog-details-comment-details h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.blog-details-comment-details h5 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0;
    color: #C1C7DE;
}

.blog-details-comment-details>button {
    padding: 8px 20px;
    border: 0;
    background: #0B0B29;
    border-radius: 15px;
    color: #92939E;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.blog-details-comment-container>p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: #C1C7DE;
    padding-top: 15px;
}

.blog-details-post-comment {
    background: url("/assets/img/blog/post-comment-background.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
    padding: 60px 55px 30px;
}

.blog-details-post-comment h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 31.2px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 0;
}

.blog-details-post-comment p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
}

.blog-details-form>div {
    padding: 0 10px;
}

.blog-detatils-textarea-container {
    position: relative;
}

.blog-detatils-textarea-container>img {
    position: absolute;
    left: 0;
    top: 0;
}

.blog-details-form textarea {
    background: transparent;
    border-bottom: 2px solid #2C398C;
    height: 43px;
    padding: 0 0 0 30px;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.5);
}

.blog-details-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.blog-details-form textarea:after {
    content: 'Test';
}

.blog-form-checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 30px;
}

.blog-form-checkbox-container input {
    width: 16px;
    height: 16px;
}

.blog-form-checkbox-container label {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.8);
}

.blog-gallery-container {
    display: flex;
    gap: 20px;  
    flex-wrap: wrap;
}

.blog-gallery-container img {
    width: calc(50% - 10px);
    object-fit: cover;
    object-position: center;
    height: 250px;
    border-radius: 10px;
}

/* -------------------Blog Side Bar-------------------*/
.blog-sidebar-widget {
    padding: 50px 40px;
}

.blog-sidebar-widget-search {
    background: url("/assets/img/blog/search-background.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
}

.blog-sidebar-widget-categories {
    background: url("/assets/img/blog/categories-background.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
}

.blog-sidebar-widget-recent {
    background: url("/assets/img/blog/recent-background.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
}

.blog-sidebar-widget-follow {
    background: url("/assets/img/blog/follow-background.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
}

.blog-sidebar-widget-tags {
    background: url("/assets/img/blog/tags-background.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
    padding: 50px 20px;
}

.blog-sidebar-title {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0;
    margin-bottom: 30px;
    text-align: left;
}

.blog-sidebar-title-tags {
    padding: 10px;
    margin-bottom: 20px;
}

.blog-sidebar-search input[type="text"] {
    width: 100%;
    height: 60px;
    background-color: #080B18;
    padding: 0 20px;
    border-radius: 5px;
    color: #92939E;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
}

.blog-sidebar-categories-content {
    list-style: none;
}

.blog-widget-social {
    row-gap: 10px;
}

/* Responsiveness */
@media (max-width: 1560px) {

    /* -------------------News Page-------------------*/
    .blog-back-button {
        left: 0;
    }
}

@media (max-width: 1300px) {

    /* -------------------Blog Side Bar-------------------*/
    .blog-widget-social {
        justify-content: center;
    }
}

@media (max-width: 1199px) {

    /* -------------------News Page-------------------*/
    .blog-content {
        padding-bottom: 0;
    }

    .blog-meta-data {
        flex-direction: row;
    }

    .blog-widget-post-item {
        flex-direction: row;
    }

    .blog-widget-social {
        flex-direction: row;
    }

    .blog-sidebar-widget-search {
        padding: 50px 20px;
    }

    /* -------------------News Details Page-------------------*/
    .blog-details-share-icon {
        flex-direction: row;
    }
}


@media (max-width: 991px) {

    /* -------------------Blog Side Bar-------------------*/
    .blog-sidebar-title {
        text-align: center;
    }
}

@media (max-width: 767px) {

    /* -------------------News Page-------------------*/
    .blog-content {
        margin-bottom: -100px;
    }

    .blog-sidebar-widget-tags {
        padding: 40px 30px;
    }

    .blog-sidebar-widget {
        padding: 40px 20px;
    }

    .blog-sidebar-widget a {
        width: 45px !important;
        height: 45px !important;
    }

    /* -------------------News Details Page-------------------*/
    .blog-details-quote {
        width: 60px;
        height: 60px;
    }

    .blog-details-quote-container {
        padding: 40px 40px 40px 80px;
    }

    .blog-details-quote>img {
        width: 25px;
        height: 22px;
    }

    .blog-details-comment {
        gap: 20px;
    }

    .blog-details-comment.sub-comment {
        padding: 30px 20px;
    }

    .blog-details-post-comment {
        padding: 50px 30px 30px;
    }

    .blog-details-comment-section {
        padding-bottom: 20px;
    }

    .blog-details-form>div {
        padding: 0;
    }

    .blog-desktop-thumb .desktop {
        display: none !important;
    }

    .blog-desktop-thumb .mobile {
        display: block !important;
    }

    .blog-gallery-container img {
        width: 100%;
    }
}