.page-path-line {
    display: flex;
    align-items: center;
    gap: 6px;
}

.page-path-line p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff80;
}

.page-path-line .active-path-line {
    color: #ffffff;
}

.page-path-line img {
    margin: 0 10px 0 0;
}

.grid-img-container {
    display: flex;
    gap: 20px;
    margin: 40px 0 0 0;
}

.grid-container {
    display: grid;
    width: 40%;

    height: 100%;
    grid-template-rows: 79% 30%;
    gap: 10px;
}

.main-image {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}



.main-image .main-image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.small-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
position: relative;
    max-width: 100%;
    height: fit-content;
    background-size: cover;
}
.small-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.small-images .mall-images-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.floor-plan-div {
    height: 36px;
    position: absolute;
    border: 1px solid #8c84cc;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 3px;
    bottom: 10px;
    left: 20px;
}

.floor-plan-div p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #3a307f;
}

.grid-left-side {
    width: 60%;
}

.grid-left-side-fisrt-dev {
    display: flex;
    gap: 20px;
}

.grid-left-side-fisrt-dev p {
    background: #43670080;
    border-radius: 8px;
    border: 1px solid #ffffff33;
    padding: 5px 10px;
    backdrop-filter: blur(2px);
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #9eff7a;
}

.grid-left-side-one {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    color: #ffffff80;
    margin: 10px 0;
}
.grid-left-side-two {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
}

.grid-left-side-three {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff80;
    margin: 25px 0;
}

.grid-left-side-price img {
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
}

.grid-left-side-price-box {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.grid-left-side-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.grid-left-side-price-div-one {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;

    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: line-through;
    color: #ffffff80;
}

.grid-left-side-price-div-two {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 50px;

    color: #2dd98f;
}
.grid-left-side-price-div-two span {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 21.6px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff80;
}

.grid-left-side-price-div-four {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    color: #ffffff80;
}

.grid-left-side-price-two {
    display: flex;
    gap: 10px;
    align-items: center;
}

.grid-left-side-price-two-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-left-side-price-two-one p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff80;
}

.property-two-box-five-box {
    padding: 10px;
    border: 1px solid #737373;
    border-radius: 5px;
    background: #0c144b;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.Converter-div-box {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px;
    margin: 50px 0 40px 0;
}

.icon-box-Converter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Description-big-box {
    margin: 80px 0;
}

.property-details-Description {
    border-bottom: 2px solid #ffffff;
    display: flex;
    gap: 40px;
    padding: 0 0 24px 0;

    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -0.5px;
    vertical-align: middle;
}

.custom-list {
    list-style-type: none;
    padding-left: 0;
}
.custom-list li::before {
    content: "- ";
}

.custom-list li {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0 0 20px 0;
    color: #ffffff;
}
.custom-list p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
}

.Description-second-box {
    display: flex;
    gap: 20px;
    width: 100%;

    margin: 50px 0 0 0;
}

.Description-second-box-one {
    width: 40%;
    padding: 0 40px 0 0;
}

.Description-second-box-two {
    width: 60%;
}

.custom-list-two {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.Description-second-box-one p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
}

.custom-list-two span {
    color: #ffffff80;
}

.Description-second-box-two {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.property-details-Description-two {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0 0 10px 0;
}
.property-details-Description-two p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff80;
    width: 50%;
}
.property-details-Description-two span {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
}

.Description-second-box-two-one {
    display: flex;
    width: 100%;
    margin: 20px 0 0 0;
}

.Description-second-box-two-box-one {
    width: 50%;
}

.Amenities-p-tag {
    margin: 40px 0 0 0;
}

.Floor-Plan-div {
    display: flex;
    gap: 20px;
    margin: 40px 0 0 0;
}

.Floor-Plan-div-one {
    width: 60%;
}
.map-div-one {
    width: 60%;
}
.Floor-Plan-div-two {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Floor-Plan-div-one img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
}
.map-div-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.video-container {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    height: 50%; 
    overflow: hidden;
}

video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #8c84cc;
    border: 1px solid #8c84cc;
    border-radius: 3px;
    padding: 6px 13px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

video:playing + .play-button {
    display: none;
}


.Floor-Plan-div-three{
    background: #0C144B;
    border: 1px solid #737373;
    width: 100%;
    height: 50%;
    border-radius: 5px;
}


.map-div-three{
    background: #0C144B;
    border: 1px solid #737373;
    width: 100%;
    border-radius: 5px;
}



.Floor-Plan-div-three-box{
    display: flex
;
    gap: 5px;
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
}


.Floor-Plan-div-three-box-one {
    display: flex
;
    gap: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}


.Floor-Plan-div-three-box-one p {
    font-family: "Manrope", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #FFFFFF;

}
.Floor-Plan-div-three-box-one h3 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #2DD98F;


}
.Floor-Plan-div-three-box-one h3 span {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff80;
}
.Floor-Plan-div-three-box-one h4 {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff80;
}
.Floor-Plan-div-three-box-one h4  span {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;

}

.Floor-Plan-div-three-line{
    width: 1px;
    height: 70%;
border-width: 1px;
border: 1px solid #FFFFFF80;
}


.Floor-Plan-div-three-box-two{
    display: flex
;
    gap: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.pre-approved{
    font-family: "Open Sans";
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #3A307F;
border: 1px solid #8C84CC;
background: #FFFFFF;
padding: 5px 10px;
border-radius: 5px;

}
.beds-baths-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.beds-baths-options button {
    flex: 1 1 calc(25% - 10px); /* Adjust % depending on how many buttons per row */
    min-width: 120px; /* Prevent from getting too small on small screens */
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}


.Location-img-one {
    width: 70px;
    height: 70px;

    border-radius: 5px;
    overflow: hidden;
}
.Location-img-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}

.Location-div-three-box-one{
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;

}



.Location-div-three-box {
    display: flex
;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    flex-direction: column;
}


.Location-div-three-line {
    width: 100%;
    height: 70%;
    border-width: 1px;
    border: 1px solid #FFFFFF80;
}


.Location-img-two{
    position: absolute;
    margin: auto;
    right: 20px;
    top: 0;
    bottom: 0;
}




.map-div-three-box-two{
    display: flex
;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.map-div-three-box-two-one{
    display: flex
    ;
        gap: 10px;
        align-items: center;
}


.map-div-three-box-two-one p{
    font-family: "Open Sans";
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #ffffff80;
}
.map-div-three-box-two-one span {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;

}


.Location-img-one-p-two{
    font-family: "Open Sans";
font-weight: 600;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
color: #FFFFFF;
}


.Location-img-one-p-three {
width: fit-content;
border-radius: 4px;
padding: 5px 10px;
background: #2DD98F;
font-family: "Open Sans";
font-weight: 400;
font-size: 10px;
line-height: 16px;
letter-spacing: 0%;
vertical-align: middle;
color: #000000;

}

.Location-img-one-span {
    font-family: "Open Sans";
font-weight: 400;
font-size: 12px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;

font-weight: 400;
font-size: 12px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;

font-weight: 400;
font-size: 12px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;
color: #ffffff80;

}



.Location-one-p-box{
    display: flex;
    gap: 5px;
    align-items: center;
}


.cards-property-img{
    width: 100%;
    height: 300px;
}
.cards-property-img img {
object-fit: cover;
width: 100%;
height: 100%;
}


.xb-event-card{
    background: linear-gradient(159.08deg, #0C144B 49.86%, rgba(28, 47, 177, 0.8) 100%);
    overflow: hidden;

border-radius: 10px;
border-width: 1px;

    border: 1px solid #737373
}


.xb-item--cards-property{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}


.cards-property-title-one{
    font-family: "Manrope", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #FFFFFF;

}

.cards-property-title-two{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: line-through;
    color: #FFFFFF80;

}


.cards-property-title-three{
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #2DD98F;


}

.cards-property-title-four{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF80;


}



.grid-left-side-price-two-card {
    display: flex;
    align-items: center;
}

.grid-left-side-price-two-card p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff80;


    
}


.img-card{
    width: 32px;
}



.card-title{
    font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 32px;
line-height: 38.4px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: uppercase;
color: #FFFFFF;
padding: 100px 0 40px 0; 
}



.small-images-see-more {
    position: absolute;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 40px;

    height: fit-content;
    cursor: pointer;
    background: #FFFFFF33;
    backdrop-filter: blur(40px);
    border: 1px solid #FFFFFF33;
    border-radius: 3px;
    border-width: 1px;
    padding: 5px 10px;
    color: #FFFFFF;

}



.slide-count{
    font-family: "Manrope", sans-serif;
font-weight: 700;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: capitalize;
color: #FFFFFF80;
}





.image-popup {
    position: relative;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 20px;
}

.popup-content {
    position: relative;
    width: 80%;
    max-width: 800px;
    background: #fff;
height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.close-btn {
    position: absolute;
    top: 32px;
    right: 87px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    background: #2DD98F;
    padding: 4px 11px;




border-radius: 5px;



}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}



.swiper-button-prev-property,
.swiper-button-next-property{
    color: #2DD98F !important;
}

#map{
    z-index: 3 !important;
}

.properties-swiper-mobile{
    display: none;
}

.popup-small-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
    border-radius: 5px;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    cursor: grab;
}

.popup-small-img::-webkit-scrollbar {
    display: none;
}

.popup-small-img img {
    width: 150px;
    border-radius: 5px;
    user-select: none; 
}


.popup-small-img img.active-thumbnail {
    border: 3px solid #2DD98F; /* Green border */
    border-radius: 5px;
    transition: border 0.3s ease-in-out;
}
@media (max-width: 986px) {


.grid-img-container{
    flex-direction: column;
}

.grid-container {
    width: 100%;
    display: none;
}
.grid-left-side {
    width: 100%;
    display: flex
    ;
            flex-direction: column-reverse;
}


.Description-second-box,
.Floor-Plan-div{
    flex-direction: column;
}

.page-path-line{
    display: none;
}

.Description-second-box-one,
.Description-second-box-two,
.Floor-Plan-div-one,
.Floor-Plan-div-two {
    width: 100%;
}

.map-div-one {
    width: 100%;
    height: 500px;
}

.property-two-box-five-box {
    padding: 10px;

    margin: 20px 0 0 0;
    display: flex
;
    justify-content: space-between;
    width: 96%;
    position: fixed;
    bottom: 2%;
    right: 0;
    left: 0;
    margin: auto;

    background: #070A19;
    border: 1px solid #8FE4F880;
border-radius: 50px;
z-index: 4;


}

.property-two-box-five-two a span {
    display: none;
}

.property-two-box-five-two a {
    border-radius: 50%;
    padding: 0px 3px 0px 7px;

}


.grid-left-side-price-box {
    flex-direction: column;
    align-items: flex-start;
}

.grid-left-side-price-div-two{
    font-weight: 700;
    font-size: 30px;

}
.properties-swiper-mobile {
    display: block;
    position: relative;
}

.properties-swiper-mobile .swiper-pagination-bullet-active {
    width: 10px !important;
    height: 10px !important;
    background-color: white !important;
    opacity: 1 !important;
}

.properties-swiper-mobile .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    display: inline-block;
    border-radius: 50%;
    background-color: white !important;
    opacity: 1 !important;
    transition: all 0.3s ease-in-out;
}

}